# Maven
wallet/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
../.mvn/timing.properties
../.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Логи
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Окружение
.env
.env.local
application-local.yml
application-local.properties

# Docker
*.pid